.modal {
  width: var(--box-width);
  border-radius: var(--box-radius);
  border: 2px solid var(--text-color);
  padding-bottom: 2rem;

  /* backdrop stuff */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-content {
    background-color: #fff;
    border-radius: var(--box-radius);
    /* max-height: 30vh; */
    padding-bottom: 2.5em;
}

.modal-header {
  background-color: var(--main-color);
  color: var(--box-color);
  padding: 1rem 2rem;
  border-top-left-radius: var(--box-radius);
  border-top-right-radius: var(--box-radius);
}

.modal-body {
  padding: var(--box-padding);
  font-size: 1.5rem;
  color: var(--text-color);
}

.modal-footer button {
  padding: var(--button-padding);
  background-color: var(--main-color);
  color: var(--box-color);
  border-radius: var(--box-radius);
  font-size: 1.25rem;
  margin-top: 1rem;
  /* font-weight: bold; */
}

.modal-footer button:hover {
  background-color: white;
  color: var(--main-color);
  border: 3px solid var(--main-color);
}
